---
layout: default
---

<article class="post-article" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {%- if page.description -%}
      <p class="post-subtitle">{{ page.description }}</p>
    {%- endif -%}
    <div class="post-byline">
      <img class="post-byline-avatar" src="https://www.gravatar.com/avatar/b79b43bda78ac6f6ef530bd81235dc01" alt="Alan Gonzalez">
      <div class="post-byline-text">
        <div class="post-byline-author">Alan Gonzalez</div>
        <div class="post-byline-meta">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: date_format }}
          </time>
          {%- if page.modified_date -%}
            <span class="post-byline-sep">·</span>
            {%- assign mdate = page.modified_date | date_to_xmlschema -%}
            <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">updated {{ mdate | date: date_format }}</time>
          {%- endif -%}
          {%- if page.categories.size > 0 -%}
            <span class="post-byline-sep">·</span>
            {%- for category in page.categories -%}
              <a class="post-byline-category" href="/category/{{ category }}/">{{ category }}</a>{%- unless forloop.last -%}, {% endunless -%}
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody" markdown="1">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  {%- assign primary_cat = page.categories | first -%}
  {%- if primary_cat -%}
    {%- assign related = site.categories[primary_cat] | where_exp: "p", "p.url != page.url" -%}
    {%- assign related_published = "" | split: "" -%}
    {%- for p in related -%}
      {%- if p.published != false -%}
        {%- assign related_published = related_published | push: p -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if related_published.size > 0 -%}
      <aside class="related-posts">
        <h3 class="related-posts-title">Keep reading in <em>{{ primary_cat }}</em></h3>
        <ul class="related-posts-list">
          {%- for post in related_published limit:3 -%}
            <li class="related-post-item">
              <a href="{{ post.url | relative_url }}" class="related-post-link">
                <div class="related-post-title">{{ post.title | escape }}</div>
                <div class="related-post-meta">
                  <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
                  {%- if post.description %} · {{ post.description | strip_html | truncate: 110 }}{%- endif -%}
                </div>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </aside>
    {%- endif -%}
  {%- endif -%}
</article>
