<!-- sidebar.html -->
    <div class="ui vertical menu">
  <div class="item">
    <div class="header">Startups</div>
    <div class="menu">
      {% for post in site.categories.entrepreneurship %}
        <a class="item" href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>
  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}
    {% if category[0] != 'entrepreneurship' %}
    <div class="item">
      <div class="header">{{ category[0] | capitalize }}</div>
      <div class="menu">
        {% assign currentCategory = category[0] %}
        {% for post in site.categories[currentCategory] %}
          <a class="item" href="{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
<!-- sidebar.html -->